@model AnalyzeWebSite.Models.TestModel
@{
	ViewData["Title"] = "Какую тему выбрать вам?";
}
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166291616-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-166291616-1');
	</script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(62751832, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/62751832" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
<script type="text/javascript">
	var timerStart = Date.now();
</script>

<script type="text/javascript" src="~/js/spyLib/focus.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>
<script type="text/javascript" src="~/js/test.js"></script>
<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<script type="text/javascript" src="~/js/spyLib/geo.js"></script>
<link rel="stylesheet" href="~/css/testStyles.css" />

<script type="text/javascript">
	loadTime(timerStart);
</script>
<h1 id="hi" class="index-hi" style="margin-top:10%">Какую тему для диссертации выбрать вам?</h1>
<p style="margin-top:30px">Пройдите небольшой тест, в котором вам будут предложены несколько вариантов возможных тем для диссертации, подходящих вам.</p>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<div id="pageId" style="display:none;">Тест</div>

<form id="dissertationTest" method="post" action="/Test/Result">
	<div id="degreeTest" class="tab">
		<div class="form-group">
			<label for="degreeSelect">На какой ступени образования вы сейчас находитесь?</label>
			<select class="form-control" id="degreeSelect" name="degreeSelect">
				@foreach (var degr in ViewBag.Degrees) {
					<option value="@(degr.Id)">@degr.Name</option>
				}
			</select>
		</div>
	</div>

	<div class="tab">
		<div class="form-group">
			<label for="degreeRouteSelect">Выберить ваше направление</label>
			<select class="form-control" id="degreeRouteSelect" name="degreeRouteSelect">
				@foreach (var sciences in ViewBag.Sciences) {
					<option value="@(sciences.Id)">@sciences.Name</option>
				}
			</select>
		</div>
	</div>

	<div id="organization" class="tab">
		<div class="form-group">
			<label for="areaText">Связаны ли вы с каким-либо предприятием по вашей специальности? Если нет, оставьте поле пустым</label>
			<input type="text" class="form-control" id="organizationText" name="organizationText" aria-describedby="areaTextBox" placeholder="Введите название предприятия">
		</div>

	</div>
	<div id="innerRoute" class="tab">
		<div class="form-group">
			<label for="degreeRouteSelect">Выберить вашу специализацию в рамках выбранного направления:</label>
			<select class="form-control" id="innerRouteSelect" name="innerRouteSelect"></select>
		</div>
	</div>
	<div id="buttons" style="overflow:auto;">
		<div style="float:right;">
			<button class="btn btn-outline-secondary" type="button" id="prevBtn" onclick="nextPrev(-1)">Назад</button>
			<button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Далее</button>
		</div>
	</div>
	<!-- Circles which indicates the steps of the form: -->
	<div style="text-align:center;margin-top:40px;">
		<span class="step"></span>
		<span class="step"></span>
		<span class="step"></span>
		<span class="step"></span>
	</div>
</form>


