
@{
	ViewData["Title"] = "Об авторе";
}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (m, e, t, r, i, k, a) {
		m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
		m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
	})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(62290795, "init", {
		clickmap: true,
		trackLinks: true,
		accurateTrackBounce: true,
		webvisor: true
	});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62290795" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/loadScripts.js"></script>

<h1 id="hi" class="index-hi" style="margin-top:10%">Об авторе и проекте</h1>

<p style="margin-top:30px">
	<img src="~/images/author.jpg" style="float:right; margin: 7px 0px 7px 7px;" />
	Здравствуйте еще раз! Меня зовут Егор, мне 22, я живу в Подмосковье и учусь в Российском Университете Транспорта (бывш. МИИТ) на специальности "Информатика и вычислительная техника".
</p>

<p>Данный сайт представляет собой <strong>мою магистерскую диссертацию</strong> на тему разработки средства сбора данных для анализа действий пользователей.</p>
<p>Тема веб-технологий давно интересует меня, например, моя бакалаврская выпускная квалификационная работа была посвящена теме агрегаторов новостей.</p>
<p>В ней я разрабатывал веб-сайт, который получал новости через RSS-ленту, затем выделял в них ключевые новости и помещал в базу данных, а затем выводил пользователю, группируя по ключевым словам и рубрикам.</p>
<p>В те далёкие времена я разрабатывал на ASP.NET MVC 5. К слову, этот опыт позволил мне устроиться на хорошую работу по специальности практически без собеседования!</p>
<p>Этот же сайт куда больше похож на серьёзный проект, и сделан он уже на ASP.NET Core MVC (версии 2.1), в чем вы можете лично убедиться на <a href="https://github.com/baego/AnalyzeWebSite">Github</a>.</p>
<p>Также я пользуюсь Bootstrap и jQuery, поскольку без них обойтись трудно (да и зачем ?).</p>
<p>Надеюсь, вы не устали от этих технических подробностей, мне остаётся лишь пожелать вам удачи в работе над вашими диссертациями!</p>
