
@{
	ViewData["Title"] = "Об авторе";
}
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>

<h1 id="hi" class="index-hi" style="margin-top:10%">Об авторе</h1>
<p style="margin-top:30px">
	Страница с краткой информацией обо мне и целях работы. 
</p>