<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/custom.css" />

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">	
			<ul class="list-custom" >
				<li style="font-size: x-large;"><a><img src="~/images/magister-head.png" height="40" width="40" />&nbsp;Моя магистерская диссертация</a></li>
				<li><a>Lorem</a></li>
				<li><a>Ipsum</a></li>
				<li><a>Dolor</a></li>
				<li><a>Sit</a></li>
				<li><a>Amet</a></li>
			</ul>
	</nav>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2020 Copyrights</p>
		</footer>
	</div>

	@RenderSection("Scripts", required: false)
</body>
</html>
