@{
	ViewData["Title"] = "Требования к магистерской диссертации";
}
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166291616-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-166291616-1');
	</script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(62751832, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/62751832" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
<script type="text/javascript">
	var timerStart = Date.now();
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/loadScripts.js"></script>


<script type="text/javascript" src="~/js/spyLib/focus.js"></script>
<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<div id="pageId" style="display:none;">Требования к содержанию</div>
<script type="text/javascript">
	loadTime(timerStart);
</script>
<h1 id="hi" class="index-hi" style="margin-top:10%">Требования к содержанию</h1>
<p style="margin-top:30px">
	Диссертация имеет определённую структуру, она должна обязательно иметь:
	<ul>
		<li>титульный лист</li>
		<li>рецензию</li>
		<li>содержание</li>
		<li>нормативные ссылки</li>
		<li>введение</li>
		<li>основную часть</li>
		<li>заключение</li>
		<li>список использованных источников</li>
		<li>приложение (при необходимости)</li>
	</ul>
</p>
<h3>Титульный лист</h3>
<p>
	<strong>Титульный лист</strong> должен содержать информацию об: учебном заведении, кафедре, теме работы, ФИО защищающегося, ФИО и ученая степень научного руководителя и рецензента, город, год написания работы.
</p>
<h3>Введение</h3>
<p>
	<strong>Введение</strong> содержит  обоснование выбранной темы, цели, задачи работы, предмет и объект исследования. Примерный объем, как правило, 3-5 страниц.
</p>
<h3>Основаная часть</h3>
<p><strong>Основаная часть</strong> разбита на главы, которые разбиты на разделы и подразделы. В конце раздела пишут вывод, а в конце главы суммируется общий вывод по главе. Объем основной части  - 50-70 страниц, количество глав в основном варьируется от 2 до 4.</p>
<h3>Заключение</h3>
<p><strong>Заключение</strong> содержит обзор полученных результатов, общие выводы по проделанной работе и возможное ее применение.</p>