
@{
	ViewData["Title"] = "Требования к магистерской диссертации";
}
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>

<h1 id="hi" class="index-hi" style="margin-top:10%">Требования к магистерской диссертации</h1>
<p style="margin-top:30px">
	Сразу стоит отметить, что в разных ВУЗах (и даже на разных кафедрах внутри одного ВУЗа) требования к оформлению и содержанию работы могут отличаться. Однако базовые требования к оформлению магистерской диссертации не меняются довольно давно, и представляют собой:
	<ul>
		<li>Формат бумаги – A4</li>
		<li>Шрифт – Times New Roman, размер шрифта – 14 кегль</li>
		<li>Межстрочный интервал - полуторный</li>
		<li>Цвет текста – черный</li>
		<li>Выравнивание текста – по ширине</li>
		<li>Печать – односторонняя</li>
		<li>Поля страницы: верхнее и нежнее – 2 см, левое – 3 см, правое – 1 см</li>
	</ul>
	Также необходима нумерация страниц. Она должна быть на всех страницах, не считая титульного, и начинаться с номера 2.
</p>
<p>
	Требования к объему могут различаться в разных учебных заведениях, но следуя  ГОСТу это от 70 до 120 страниц. 
</p>
<p>Также диссертация имеет определённую структуру, она должна обязательно иметь:
	<ul>
		<li>титульный лист</li>
		<li>рецензию</li>
		<li>содержание</li>
		<li>нормативные ссылки</li>
		<li>введение</li>
		<li>основную часть</li>
		<li>заключение</li>
		<li>список использованных источников</li>
		<li>приложение (при необходимости)</li>
		</ul></p>
<p>
	<h3>Полезные ссылки</h3>
	Список ГОСТ для оформления магистерской диссертации:
	<ul>
		<li>
			<a href="http://docs.cntd.ru/document/gost-7-32-2001-sibid">ГОСТ 7.32-2001 (согласно последним изменениям ГОСТ 7.32-2017);</a>
		</li>
		<li>
			<a href="http://docs.cntd.ru/document/1200034383">ГОСТ 7.1-2003;</a>
		</li>
		<li>
			<a href="http://docs.cntd.ru/document/gost-r-7-0-5-2008">ГОСТ Р 7.0.5-2008;</a>
		</li>
		<li>
			<a href="http://protect.gost.ru/document.aspx?control=7&id=179727">ГОСТ Р 7.0.11-2011;</a>
		</li>
		<li>
			<a href="http://docs.cntd.ru/document/1200039536">ГОСТ 7.11-2004</a>
		</li>
	</ul>
	<br />
	Антиплагиат:
	<ul>
		<li><a href="https://antiplagiat.ru">antiplagiat.ru</a></li>
		<li><a href="https://text.ru/antiplagiat">text.ru/antiplagiat</a></li>
		<li><a href="https://www.etxt.ru/antiplagiat/">etxt.ru/antiplagiat</a></li>
	</ul>
</p>

