@{
	ViewData["Title"] = "Требования к магистерской диссертации";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/loadScripts.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (m, e, t, r, i, k, a) {
		m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
		m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
	})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(62290795, "init", {
		clickmap: true,
		trackLinks: true,
		accurateTrackBounce: true,
		webvisor: true
	});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62290795" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<div id="pageId" style="display:none;">UsefulLinks</div>
<h1 id="hi" class="index-hi" style="margin-top:10%">Полезные ссылки</h1>
<p style="margin-top:30px">
	Список ГОСТ для оформления магистерской диссертации:
	<ul>
		<li>
			<a href="http://docs.cntd.ru/document/gost-7-32-2001-sibid">ГОСТ 7.32-2001 (согласно последним изменениям ГОСТ 7.32-2017);</a>
		</li>
		<li>
			<a href="http://docs.cntd.ru/document/1200034383">ГОСТ 7.1-2003;</a>
		</li>
		<li>
			<a href="http://docs.cntd.ru/document/gost-r-7-0-5-2008">ГОСТ Р 7.0.5-2008;</a>
		</li>
		<li>
			<a href="http://protect.gost.ru/document.aspx?control=7&id=179727">ГОСТ Р 7.0.11-2011;</a>
		</li>
		<li>
			<a href="http://docs.cntd.ru/document/1200039536">ГОСТ 7.11-2004</a>
		</li>
	</ul>
	<br />
	Антиплагиат:
	<ul>
		<li><a href="https://antiplagiat.ru">antiplagiat.ru</a></li>
		<li><a href="https://text.ru/antiplagiat">text.ru/antiplagiat</a></li>
		<li><a href="https://www.etxt.ru/antiplagiat/">etxt.ru/antiplagiat</a></li>
	</ul>
</p>