
@{
	ViewData["Title"] = "О вас";
}
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>

<h1 id="hi" class="index-hi" style="margin-top:10%">Расскажите о себе</h1>
<p style="margin-top:30px">
	На этой странице будет опросная форма более простого вида для того, чтобы пользователи могли оставить отзыв о сайте и, при желании, оставить о себе какие-то данные. 
</p>
<p>Возможно, здесь стоит расположить несколько опросов с разными формами, чтобы собрать информация по метрикам SUPR-Q.</p>
<p>Также это единственная страница, где нужно более обстоятельно работать с безопасностью - так как здесь будут текстовые поля, необходимо предусмотреть попытки инжектирования SQL кода.</p>

<div class="form-wrap">
	<form>
		<h3>Пример обычной формы:</h3>
		<div>
			<label for="name">Имя</label>
			<input type="text" name="name" required>
		</div>
		<div class="radio">
			<span>Пол</span>
			<label>
				<input type="radio" name="sex" value="мужской">мужской
				<div class="radio-control male"></div>
			</label>
			<label>
				<input type="radio" name="sex" value="женский">женский
				<div class="radio-control female"></div>
			</label>
		</div>
		<div>
			<label for="email">E-mail</label>
			<input type="email" name="email" required>
		</div>
		<div>
			<label for="country">Страна</label>
			<select name="country">
				<option>Выберите страну проживания</option>
				<option value="Россия">Россия</option>
				<option value="Украина">Украина</option>
				<option value="Беларусь">Беларусь</option>
			</select>
			</div>
		<div>
			<label for="review">Что вы думаете о сайте?</label>
			<textarea name="review"></textarea>
		</div>
		<div>
			<label for="cats">Расскажите о своём коте:</label>
			<textarea name="cats"></textarea>
		</div>
		<div>
			<label for="starwars">Какие по вашему мнению Звёздные Войны самые лучшие и почему?</label>
			<textarea name="starwars"></textarea>
		</div>
		<div class="select-arrow"></div>
		<button type="submit">Отправить</button>
	</form>
</div>