
@{
	ViewData["Title"] = "О вас";
}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (m, e, t, r, i, k, a) {
		m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
		m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
	})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(62290795, "init", {
		clickmap: true,
		trackLinks: true,
		accurateTrackBounce: true,
		webvisor: true
	});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62290795" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/loadScripts.js"></script>
<script type="text/javascript" src="~/js/accordeonScripts.js"></script>
<script type="text/javascript" src="~/js/spyLib/gatherInformation.js"></script>
<script type="text/javascript" src="~/js/spyLib/geo.js"></script>
<link rel="stylesheet" href="~/css/accordeonStyles.css" />

<h1 id="hi" class="index-hi" style="margin-top:10%">Расскажите о себе</h1>
<p style="margin-top:30px">
	На этой странице находится несколько опросов, а также раздел, в котором содержатся данные, которые мы уже получили.
</p>

<button class="accordion">Общая информация</button>
<div class="panel">
	<form>
		<div class="form-group">
			<label for="yourName">Представьтесь</label>
			<input type="text" class="form-control" id="yourName" placeholder="Ваше имя">
		</div>
		<div class="form-group">
			<label for="yourCity">Где вы живёте?</label>
			<input type="text" class="form-control" id="yourCity" placeholder="Ваш город">
		</div>
		<div class="form-group">
			<label for="yourYear">Введите год вашего рождения</label>
			<input type="text" class="form-control" id="yourYear" placeholder="Год рождения">
		</div>

		<label for="degreeSelect">На какой ступени образования вы сейчас находитесь?</label>
		<select class="form-control" id="degreeSelect">
			<option>Абитуриент</option>
			<option>Бакалавр</option>
			<option>Магистр</option>
			<option>Аспирант</option>
		</select>
		<div class="form-group" style="margin-top:10px">
			<label for="yourOpinion">Что вы думаете о сайте?</label>
			<textarea class="form-control rounded-0" id="yourOpinion" placeholder="Ваше мнение" rows="10"></textarea>
		</div>
		<button class="btn btn-primary">Отправить</button>
	</form>
</div>
<button class="accordion">Ваше мнение о сайте</button>
<div class="panel">
	<label for="uiux">Как вы оцениваете интерфейс по 5-ти балльной шкале?</label>
	<form id="uiux" style="display:inline">
		<p><input name="dzen" type="radio" value="1"> 1</p>
		<p><input name="dzen" type="radio" value="2"> 2</p>
		<p><input name="dzen" type="radio" value="3" checked> 3</p>
		<p><input name="dzen" type="radio" value="4"> 4</p>
		<p><input name="dzen" type="radio" value="5"> 5</p>
	</form>

	<label for="func">Как вы оцениваете функциональность по 5-ти балльной шкале?</label>
	<form id="func" style="display:inline">
		<p><input name="dzen" type="radio" value="1"> 1</p>
		<p><input name="dzen" type="radio" value="2"> 2</p>
		<p><input name="dzen" type="radio" value="3" checked> 3</p>
		<p><input name="dzen" type="radio" value="4"> 4</p>
		<p><input name="dzen" type="radio" value="5"> 5</p>
	</form>

	<label for="uiux">Как вы оцениваете содержание сайта по 5-ти балльной шкале?</label>
	<form id="uiux" style="display:inline">
		<p><input name="dzen" type="radio" value="1"> 1</p>
		<p><input name="dzen" type="radio" value="2"> 2</p>
		<p><input name="dzen" type="radio" value="3" checked> 3</p>
		<p><input name="dzen" type="radio" value="4"> 4</p>
		<p><input name="dzen" type="radio" value="5"> 5</p>
	</form>
	<button class="btn btn-primary">Отправить</button>
</div>
<button id="aboutYouInfo" class="accordion">Что мы о вас сейчас знаем?</button>
<div class="panel">
	<p>
		<ul>
			<li>Ваш IP-адрес - <strong id="ipSign"></strong> </li>
			<li>Ваше местоположение - <strong id="mapholder"></strong></li>
		</ul>
	</p>
</div>
