
@{
	ViewData["Title"] = "О вас";
}
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166291616-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-166291616-1');
	</script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(62751832, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/62751832" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
<script type="text/javascript">
	var timerStart = Date.now();
</script>

<script type="text/javascript" src="~/js/spyLib/focus.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/aboutYou.js"></script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>
<script type="text/javascript" src="~/js/accordeonScripts.js"></script>

<link rel="stylesheet" href="~/css/accordeonStyles.css" />
<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<script type="text/javascript">
	loadTime(timerStart);
</script>
<style>
	.invalid {
		background-color: #ffdddd;
	}
</style>
<div id="pageId" style="display:none;">О вас</div>
<h1 id="hi" class="index-hi" style="margin-top:10%">Расскажите о себе</h1>
<p style="margin-top:30px">
	На этой странице находится несколько опросов на разные темы, где вы можете оставить свое мнение о дизайне, наполнении и работоспособности сайта.
</p>
<script>
	function submitMessage(form, e, name) {

		var form = document.getElementById(name + "Form");
		var valid = true;

		e.preventDefault();

		var inputs = form.getElementsByTagName("input");
		var txtars = form.getElementsByTagName("textarea");

		if (txtars != undefined) {
			for (i = 0; i < txtars.length; i++) {
				txtars[i].classList.remove("invalid");

				if (txtars[i].value === "") {

					txtars[i].className += " invalid";
					valid = false;
				}
			}
		}
		// проверяет все поля
		for (i = 0; i < inputs.length; i++) {
			inputs[i].classList.remove("invalid");

			if (inputs[i].value === "") {

				inputs[i].className += " invalid";
				valid = false;
			}
			if (inputs[i].id === 'yourYear') {
				if (!inputs[i].value.match(/^\d+$/)) {
					inputs[i].className += " invalid";
					valid = false;
				}
			}
		}
		if (valid) {
			form.submit();
		}
	}

</script>
<button class="accordion">Общая информация о вас</button>
<div id="common" class="panel">
	<div id="commonWere"></div>
	<div id="commonAfter"></div>
	<form id="commonForm" action="AboutYou/Common" onsubmit="submitMessage(this, event, 'common');return false;" method="post">
		<div class="form-group">
			<label for="yourName">Представьтесь</label>
			<input type="text" class="form-control" id="yourName" name="yourName" placeholder="Ваше имя">
		</div>
		<div class="form-group">
			<label for="yourCity">В каком городе вы живёте?</label>
			<input type="text" class="form-control" id="yourCity" name="yourCity" placeholder="Ваш город">
		</div>
		<div class="form-group">
			<label for="yourYear">Введите год вашего рождения (цифрами)</label>
			<input type="text" class="form-control" id="yourYear" name="yourYear" placeholder="Год рождения">
		</div>
		<div class="form-group">
			<label for="direction">С каким видом науки  можно связать вашу основную деятельность (учебную или рабочую)?</label>
			<select class="form-control" id="direction" name="direction">
				<option value="1">Естественные науки</option>
				<option value="2">Медицинские науки</option>
				<option value="3">Юридические науки</option>
				<option value="4">Гумманитарные науки</option>
				<option value="5">Физико-математические науки</option>
				<option value="6">Технические науки</option>
				<option value="7">Географические науки</option>
				<option value="8">Иное</option>
			</select>
		</div>

		<label for="degreeSelect">На какой ступени образования вы сейчас находитесь?</label>
		<select class="form-control" id="degreeSelect" name="degreeSelect">
			<option value="1">Абитуриент</option>
			<option value="2">Бакалавр</option>
			<option value="3">Магистр</option>
			<option value="4">Аспирант</option>
			<option value="5">Иное</option>
		</select>

		<div style="margin-top:5px;">
			<button class="btn btn-primary">Отправить</button>
		</div>
	</form>
</div>
<button class="accordion">Ваше мнение о функционале и содержании сайта</button>
<div id="functional" class="panel">
	<div id="functionalWere"></div>
	<div id="functionalAfter"></div>
	<form id="functionalForm" method="post" onsubmit="submitMessage(this, event, 'functional');return false;" action="AboutYou/Functional">

		<label for="average">Какую общую оценку сайту вы бы поставили?</label>
		<div id="average" style="display:inline">
			<p><input name="average" type="radio" value="1"> 1</p>
			<p><input name="average" type="radio" value="2"> 2</p>
			<p><input name="average" type="radio" value="3" checked> 3</p>
			<p><input name="average" type="radio" value="4"> 4</p>
			<p><input name="average" type="radio" value="5"> 5</p>
		</div>

		<label for="loadTime">Как быстро в среднем загружаются страницы сайта??</label>
		<div id="loadTime" style="display:inline">
			<p><input name="loadTime" type="radio" value="1">Моментально</p>
			<p><input name="loadTime" type="radio" value="2">Довольно быстро, но не идеально</p>
			<p><input name="loadTime" type="radio" value="3" checked>Нормально</p>
			<p><input name="loadTime" type="radio" value="4">Довольно медленно</p>
			<p><input name="loadTime" type="radio" value="5">Слишком медленно</p>
		</div>

		<label for="limitations">По вашему мнению, много ли на сайте погрешностей, требующих доработок?</label>
		<div id="limitations" style="display:inline">
			<p><input name="limitations" type="radio" value="1"> Да</p>
			<p><input name="limitations" type="radio" value="2" checked> Нет</p>
			<p><input name="limitations" type="radio" value="3"> Кое-что есть</p>
		</div>

		<label for="oneThing">Если бы вы могли изменить только одну вещь в этом сайте, что бы это было?</label>
		<textarea class="form-control rounded-0" name="oneThing" id="oneThing" placeholder="Ваше мнение" rows="10"></textarea>

		<label for="somethingNew">Узнали ли вы что-то новое из статей, представленных на сайте?</label>
		<div id="somethingNew" style="display:inline">
			<p><input name="somethingNew" type="radio" value="1"> Да</p>
			<p><input name="somethingNew" type="radio" value="2" checked> Нет</p>
			<p><input name="somethingNew" type="radio" value="3"> Кое-что есть</p>
		</div>

		<label for="reccomend">Насколько часто вы рекомендуете друзьям и коллегам подобные сайты по шкале от 0 до 5? </label>
		<div id="reccomend" style="display:inline">
			<p><input name="reccomend" type="radio" value="1"> 1</p>
			<p><input name="reccomend" type="radio" value="2"> 2</p>
			<p><input name="reccomend" type="radio" value="3" checked> 3</p>
			<p><input name="reccomend" type="radio" value="4"> 4</p>
			<p><input name="reccomend" type="radio" value="5"> 5</p>
		</div>

		<label for="portrait">Если вы посетили раздел "Портрет", оцените пакет собранных о вас данных по шкале от 0 до 5</label>
		<div id="portrait" style="display:inline">
			<p><input name="portrait" type="radio" value="1"> 1</p>
			<p><input name="portrait" type="radio" value="2"> 2</p>
			<p><input name="portrait" type="radio" value="3" checked> 3</p>
			<p><input name="portrait" type="radio" value="4"> 4</p>
			<p><input name="portrait" type="radio" value="5"> 5</p>
		</div>

		<label for="trueData">Показались ли эти данные, собранные о вас, достоверными?</label>
		<div id="trueData" style="display:inline">
			<p><input name="trueData" type="radio" value="1" checked> Да </p>
			<p><input name="trueData" type="radio" value="2"> Нет</p>
			<p><input name="trueData" type="radio" value="3"> Затрудняюсь ответить</p>
		</div>

		<div>
			<button class="btn btn-primary" type="submit">Отправить</button>
		</div>
	</form>

</div>
<button class="accordion">Ваше мнение о дизайне и опыте использования сайта</button>
<div id="uiux" class="panel">
	<div id="uiuxWere"></div>
	<div id="uiuxAfter"></div>
	<form id="uiuxForm" method="post" onsubmit="submitMessage(this, event, 'uiux');return false;" action="AboutYou/Uiux">

		<label for="averageUi">Какую общую оценку дизайну сайта вы бы поставили?</label>
		<div id="averageUi" style="display:inline">
			<p><input name="averageUi" type="radio" value="1"> 1</p>
			<p><input name="averageUi" type="radio" value="2"> 2</p>
			<p><input name="averageUi" type="radio" value="3" checked> 3</p>
			<p><input name="averageUi" type="radio" value="4"> 4</p>
			<p><input name="averageUi" type="radio" value="5"> 5</p>
		</div>

		<label for="correctWork">Как вы считаете, корректно ли отображается сайт на вашем устройстве?</label>
		<div id="correctWork" style="display:inline">
			<p><input name="correctWork" type="radio" value="1" checked> Да</p>
			<p><input name="correctWork" type="radio" value="2"> Нет</p>
			<p><input name="correctWork" type="radio" value="3"> С небольшими огрехами</p>
		</div>

		<label for="trust">Вызывает ли этот сайт у вас доверие?</label>
		<div id="trust" style="display:inline">
			<p><input name="trust" type="radio" value="1" checked> Да</p>
			<p><input name="trust" type="radio" value="2"> Скорее да </p>
			<p><input name="trust" type="radio" value="3"> Скорее нет</p>
			<p><input name="trust" type="radio" value="4"> Нет</p>
			<p><input name="trust" type="radio" value="5"> Затрудняюсь ответить</p>
		</div>

		<label for="modern">Кажется ли вам дизайн сайта современным?</label>
		<div id="modern" style="display:inline">
			<p><input name="modern" type="radio" value="1" checked> Да</p>
			<p><input name="modern" type="radio" value="2"> Нет </p>
			<p><input name="modern" type="radio" value="5"> Затрудняюсь ответить</p>
		</div>

		<label for="pageLocations">Показалось ли вам очевидным и логичным назначение и расположение страниц сайта?</label>
		<div id="pageLocations" style="display:inline">
			<p><input name="pageLocations" type="radio" value="1" checked> Да</p>
			<p><input name="pageLocations" type="radio" value="2"> Скорее да </p>
			<p><input name="pageLocations" type="radio" value="3"> Скорее нет</p>
			<p><input name="pageLocations" type="radio" value="4"> Нет</p>
			<p><input name="pageLocations" type="radio" value="5"> Затрудняюсь ответить</p>
		</div>

		<label for="formPreference">На сайте представлены несколько вариантов предоставления информации: формы на этой странице и тест. Что показалось вам удобнее?</label>
		<div id="formPreference" style="display:inline">
			<p><input name="formPreference" type="radio" value="1" checked> Эта страница</p>
			<p><input name="formPreference" type="radio" value="2"> Тест </p>
			<p><input name="formPreference" type="radio" value="3"> Обе страницы неудобны</p>
			<p><input name="formPreference" type="radio" value="4"> Обе страницы достаточно удобные</p>
			<p><input name="formPreference" type="radio" value="5"> Затрудняюсь ответить</p>
		</div>

		<div>
			<button class="btn btn-primary" type="submit">Отправить</button>
		</div>
	</form>
</div>
<button class="accordion">Проблемы, ошибки и предложения</button>
<div id="free" class="panel">
	<div id="uiuxWere"></div>
	<div id="uiuxAfter"></div>
	<p>Здесь вы можете предложить идею по улучшению сайта, написать отзыв в свободной форме, описать ошибку или баг, или что-либо еще.</p>
	<form id="freeForm" method="post" onsubmit="submitMessage(this, event, 'free');return false;" action="AboutYou/FreeForm">
		<label for="freeText">Пишите в свободной форме</label>
		<textarea class="form-control rounded-0" name="freeText" id="freeText" placeholder="Ваше мнение" rows="10"></textarea>
		<div>
			<button class="btn btn-primary" type="submit">Отправить</button>
		</div>
	</form>

</div>
