.navbar-custom {
  background-color: midnightblue;
}

ul.list-custom {
  font-family: Arial;
  font-size: large;
  margin: 0;
  padding: 4px;
  text-align: left;

}

  ul.list-custom li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
    
  }

  ul.list-custom a {
    color: white;
  }

.index-hi {
  margin-top: 20%;
  color: cornflowerblue;
  font-size: 400%;
  display:none;
}

.magister-logo-pic {
  position: fixed;
  left: 65%;
  top: 30%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: none;
}

.img-block {
  padding: 20px 5px 20px 5px;
}
  /* Стиль картинки на странице */
  .img-block img {
    width: 50%;
    border: 2px solid #ccc;
  }
    /* Стиль картинки на странице при наведении */
    .img-block img:hover {
      border: 2px solid #D4DEE8;
      cursor: pointer;
    }
/* Скрытый контейнер */
#img-big-block {
  position: fixed;
  display: none;
  left: 50%;
  margin-left: -350px;
  z-index: 999;
  top: 100px;
  border: 1px solid #D4DEE8;
}

.img-figure {
  text-align: center;
  font-style: italic;
  margin-top: 0; 
  margin-bottom: 5px;
  color: #666; 
}

  /*.img-figure figcaption {
    /*width: 40%;
  }*/


.cookie-message {
  background-color: white;
  border-radius: 5px;
  position: fixed;
  z-index: 1000;
  padding: 5px;
  border: 1px solid black;
  font-size: 20px;
  background: white;
  text-align: center;
  top: 10%;
  right: 5%;
  -webkit-animation-name: cookie-appearance;
  -webkit-animation-duration: 0.3s;
  animation-name: cookie-appearance;
  animation-duration: 0.3s;
}

@-webkit-keyframes cookie-appearance {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes cookie-appearance {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}



