@{
	ViewData["Title"] = "История болонской системы";
}
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166291616-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-166291616-1');
	</script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(62751832, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/62751832" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
<script type="text/javascript">
	var timerStart = Date.now();
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/spyLib/focus.js"></script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>
<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<div id="pageId" style="display:none;">История болонской системы</div>
<script type="text/javascript">
	loadTime(timerStart);
</script>
<h1 id="hi" class="index-hi" style="margin-top:10%">История болонской системы</h1>

<div id="img-big-block" style="display: none;"><img></div>

<p><strong>Болонская система</strong> - это единое образовательное пространство, принятое в странах Европы.</p>
<p>Её история начинается в середине 1970-х годов, когда Советом министров Европейского союза была принята резолюция о первой программе сотрудничества в сфере образования. Однако непосредственно Болонский процесс начался с 19 июня 1999 года, когда была подписана Болонская декларация. </p>
<p>Решение участвовать в добровольном процессе создания Европейского пространства высшего образования было оформлено в Болонье представителями 29 стран. На сегодняшний день процесс включает в себя 48 стран-участниц из 49 стран, которые ратифицировали Европейскую культурную конвенцию Совета Европы (1954). Болонский процесс открыт для присоединения других стран.</p>

<div class="img-block">
	<figure class="img-figure">
		<img src="~/images/bolognaWorldPics/naniny_map_bologna.jpg">
		<figcaption>Карта Европы со странами, принявшими участие в Болонском процессе по состоянию на 2020-ый год.</figcaption>
	</figure>
</div>

<p>
	В 1998 году министры образования четырёх европейских стран, участвовавшие в праздновании 800-летия Парижского университета, сошлись во мнении, что сегментация европейского высшего образования в Европе мешает развитию науки и образования. Ими была подписана Сорбоннская декларация. Цель декларации заключается в создании общих положений по стандартизации Европейского пространства высшего образования, где мобильность следует поощрять как для студентов и выпускников, так и для повышения квалификации персонала. Кроме того, она должна была обеспечить соответствие квалификаций современным требованиям на рынке труда.
</p>

<p>
	Цели Сорбоннской декларации были подтверждены 19 июня 1999 года при подписании Болонской декларации, в которой 29 стран выразили свою готовность взять на себя обязательство повысить конкурентоспособность европейского пространства высшего образования и обеспечить совместимость и сравнимость национальных систем высшего образования с установлением стандартов транснационального образования; при этом подчёркивалась необходимость сохранения независимости и самостоятельности всех высших учебных учреждений. Все положения Болонской декларации были установлены как меры добровольного процесса согласования, а не как жёсткие юридические обязательства.
</p>

<div class="img-block">
	<figure class="img-figure">
		<img src="~/images/bolognaWorldPics/german-education.jpg">
		<figcaption>Модели высшего образования в Германии до и после перехода на Болонскую систему.</figcaption>
	</figure>
</div>

<p>
	Декларация содержит шесть ключевых положений:
	<ul>
		<li>Принятие системы сопоставимых степеней, в том числе через внедрение приложения к диплому для обеспечения возможности трудоустройства европейских граждан и повышения международной конкурентоспособности европейской системы высшего образования.</li>
		<li>Введение двухциклового обучения: предварительного (undergraduate) и выпускного (graduate). Первый цикл длится не менее трёх лет. Второй должен вести к получению степени магистра или степени доктора.</li>
		<li>Внедрение европейской системы перезачёта зачётных единиц трудоёмкости для поддержки крупномасштабной студенческой мобильности (система баллов). Она также обеспечивает право выбора студентом изучаемых дисциплин. За основу предлагается принять ECTS, сделав её накопительной системой, способной работать в рамках концепции «обучение в течение всей жизни».</li>
		<li>Существенное развитие мобильности учащихся (на базе выполнения двух предыдущих пунктов). Расширение мобильности преподавательского и иного персонала путём зачёта периода времени, затраченного ими на работу в европейском регионе. Установление стандартов транснационального образования.</li>
		<li>Содействие европейскому сотрудничеству в обеспечении качества с целью разработки сопоставимых критериев и методологий.</li>
		<li>Содействие необходимым европейским воззрениям в высшем образовании, особенно в области развития учебных планов, межинституционального сотрудничества, схем мобильности и совместных программ обучения, практической подготовки и проведения научных исследований.</li>
	</ul>
</p>

<p>
	Материал подготовлен при помощи:
	<ul>
		<li><a target="_blank" id="SourceToEheaFromBolognaWorld" onclick="linkLogger(event)" href="http://www.ehea.info">Официальный сайт</a></li>
		<li><a target="_blank" id="SourceToWikiFromBolognaWorld" onclick="linkLogger(event)" href="http://www.ru.wikipedia.org/wiki/Болонский_процесс">Википедия</a></li>
	</ul>
</p>

