@{
	ViewData["Title"] = "Болонская система в России";
}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (m, e, t, r, i, k, a) {
		m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
		m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
	})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(62290795, "init", {
		clickmap: true,
		trackLinks: true,
		accurateTrackBounce: true,
		webvisor: true
	});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62290795" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/loadScripts.js"></script>

<h1 id="hi" class="index-hi" style="margin-top:10%">Болонская система в России</h1>

<div id="img-big-block" style="display: none;"><img></div>
<p>
	Анонс внедрения Болонской системы в России <strong>состоялся в 2003 году</strong> на Европейском саммите министров образования в Берлине. Окончательно лишь после 31 декабря 2010 года квалификации (степени) бакалавра и магистра стали основными для выпускников российских вузов.
</p>
<p>В связи с вхождением России в Болонский процесс изначально предполагалось, что квалификация специалист в ближайшие годы должна будет прекратить своё существование, останутся академические степени: бакалавр, магистр и доктор. Однако несовпадение западных традиций и российской реальности, а также потребности реальной экономики в квалифицированных специалистах потребовали внесения коррективов: выпуск специалистов в вузах страны был существенно сокращен, но не прекращен.</p>
<div class="img-block">
	<figure class="img-figure">
		<img src="~/images/bolognaRussiaPics/diploma-example.jpg">
		<figcaption>Пример магистерского диплома, выдаваемого в России.</figcaption>
	</figure>
</div>
<p>
	Несмотря на то, что реакция общественности была неоднозначной, для студентов в этой ситуации были плюсы, такие как:
	<ul>
		<li>Возможность обучения в Европе. Учащимся российских вузов можно закончить несколько семестров в российском университете, а после без проблем продолжить свое обучение в одном из европейских вузов.</li>
		<li>Российские образовательные программы по программам бакалавриата и магистратуры стали соответствовать европейским стандартам, таким образом повышая качество образования.</li>
		<li>Полученное по болонской системе образование позволит устраиваться яв европейские организации с российским дипломом.</li>
	</ul>
</p>

<p>
	Однако у болонской системы существуют и минусы, например, такие как:
	<ul>
		<li>Сокращение времени обучения - поскольку теперь для получения высшего образования достаточно получить степень бакалавра, то есть отучиться 4 года, а не 5 лет, как на программах специалитета.</li>
		<li>Сокращение аудиторных часов и фокус на самообразовании и самостоятельности студента.</li>
	</ul>
</p>

<p>Одним из следствий общественной дискуссии стал проект «Концепция модернизации системы аттестации научных кадров высшей квалификации в Российской Федерации», осуществлявшийся Министерством образования и науки РФ. В этом документе, наряду с положениями о передачи части полномочий ВАК университетам, предусматривается возможность общественной профессиональной аттестации кадров высшей квалификации, не связанных с научной и научно-педагогической деятельностью. Предлагается существующий в ряде государств, но официально не утвержденный в России порядок присуждения профессиональных докторских степеней, аналогичных степеням, предусмотренным принятой ЮНЕСКО Международной стандартной классификации образования. Эта новая для РФ модель аттестации практически существует с 1998 года.</p>
<p>В 2017 году Минобрнауки предложило разрешить получение учёных степеней по медицинским и ветеринарным отраслям наук только лицам, имеющим квалификацию магистра или специалиста, соответственно, в области медицины и ветеринарии</p>
<p>
	Материал подготовлен при помощи:
	<ul>
		<li><a href="http://www.ehea.info">Официальный сайт</a></li>
		<li><a href="http://www.ru.wikipedia.org/wiki/Болонский_процесс">Википедия</a></li>
		<li><a href="http://www.inf.tsu.ru/webdesign/finf2.nsf/structure/bpros">Болонский процесс на сайте Томского государственного университета</a></li>
	</ul>
</p>