@{
	ViewData["Title"] = "Защита диссертации";
}
<script type="text/javascript">
	var timerStart = Date.now();
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (m, e, t, r, i, k, a) {
		m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
		m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
	})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(62290795, "init", {
		clickmap: true,
		trackLinks: true,
		accurateTrackBounce: true,
		webvisor: true
	});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62290795" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script type="text/javascript" src="~/js/spyLib/focus.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/loadScripts.js"></script>
<script type="text/javascript">
	loadTime(timerStart);
</script>
<h1 id="hi" class="index-hi" style="margin-top:10%">Процесс защиты диссертации</h1>

<div id="img-big-block" style="display: none;"><img></div>
<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<div id="pageId" style="display:none;">Процесс защиты диссертации</div>
<p>Магистерская диссертация является видом выпускной квалификационной работы и защищается на заседании Государственной экзаменационной комиссии, в которой большинство членов имеют ученые степени и обязательно присутствуют профессора. После успешной защиты выпускнику присваивается квалификация (степень) магистра.</p>
<p>Государственные аттестационные комиссии организуются приказом ректора по каждой основной профессиональной образовательной программе. Аттестация проводится на открытых заседаниях соответствующих комиссий. При большом контингенте выпускников могут быть сформированы несколько экзаменационных комиссий, которые входят в Государственную аттестационную комиссию.</p>
<p>
	Основные функции государственных аттестационных комиссий: комплексная оценка уровня подготовки выпускника и соответствия его знаний требованиям государственного образовательного стандарта; принятие решения о присвоении квалификации по результатам итоговой государственной аттестации и выдаче выпускнику соответствующего диплома; разработка рекомендаций по совершенствованию подготовки выпускников на основании результатов работы комиссией.
</p>
<div class="img-block">
	<figure class="img-figure">
		<img src="~/images/dissertation/lot-of-diplomes.jpg">
	</figure>
</div>

<p>Государственную аттестационную комиссию возглавляет председатель, который организует и контролирует деятельность всех экзаменационных комиссий, обеспечивает единство требований, предъявляемых к выпускникам. Председатель государственной аттестационной комиссии может возглавлять одну из экзаменационных комиссий и принимать участие в работе любой из них на правах ее члена.</p>
<p>
	Защите предшествует получение соискателем отзывов на диссертационную работу от ряда рецензентов, в роли которых должны выступать специалисты и организации, компетентные в области, к которой относится диссертация.
</p>
<p>
	Для допуска к защите магистрант обязан предоставить:
	<ul>
		<li>диссертационную работу</li>
		<li>краткий автореферат</li>
		<li>отзыв научного руководителя и рецензента</li>
		<li>текст доклада (речь выступления) и раздаточные материалы</li>
	</ul>
	Подробнее ознакомиться с требованиями к диссертационной работе вы можете на <a target="_blank" href="@Url.Action("Index", "Requirements")">специальной странице</a>.
</p>

<p>На защите соискатель представляет диссертацию комиссии, называемой диссертационным советом, который формируется, утверждается и функционирует в соответствии с требованиями Высшей аттестационной комиссии (ВАК). Соискатель в устной форме излагает совету содержание диссертации, достигнутые научные результаты, возможность их практического применения, отвечает на вопросы членов совета. По завершении представления диссертации совет проводит обсуждение работы и принимает решение о принятии или непринятии диссертации путём тайного голосования всех членов совета. Если по результатам защиты диссертация принимается, диссертационный совет принимает решение о присуждении соискателю учёной степени.</p>
<p>
	Материал подготовлен при помощи:
	<ul>
		<li><a target="_blank" id="sourceToWikiFromDisser" onclick="linkLogger(event)" href="https://ru.wikipedia.org/wiki/Диссертация">Википедия</a></li>
	</ul>
</p>
