
@{
	ViewData["Title"] = "Историческая справка";
}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (m, e, t, r, i, k, a) {
		m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
		m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
	})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(62290795, "init", {
		clickmap: true,
		trackLinks: true,
		accurateTrackBounce: true,
		webvisor: true
	});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62290795" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/loadScripts.js"></script>
<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<div id="pageId" style="display:none;">History</div>

<h1 id="hi" class="index-hi" style="margin-top:10%">Историческая справка</h1>
<p style="margin-top:30px">
	Магистерская диссертация - часть образовательного процесса болонской системы. Являясь второй ступенью образования в ней, степень магистра в разное время являлась как самостоятельной учёной степенью, так и не признаваемым официально титулом.
</p>
<p>
	Данный раздел представляет собой историческую справку, разбитую на три части:
	<ul>
		<li><a href="@Url.Action("BolognaWorld", "History")">История болонской системы</a> - история появления и развития всей системы современного Европейского образования</li>
		<li><a href="@Url.Action("BolognaRussia", "History")">Болонская система в России</a> - история внедрения болонской системы в Российскую систему обраования, достоинства и недостатки этого процесса</li>
		<li><a href="@Url.Action("Dissertation", "History")">Защита диссертации</a> - описание процесса защиты диссертации и предшествующих ему действий</li>
	</ul>
</p>

