
@{
	ViewData["Title"] = "Историческая справка";
}
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>

<h1 id="hi" class="index-hi" style="margin-top:10%">Историческая справка</h1>
<p style="margin-top:30px">
	Страница с историей болонской системы. Будет содержать текстовый, графический и, возможно, видео-контент для сбора метрик по фокусу внимания, заинтересованности пользователей и индексу завершенности (т.е. прочтению до конца).
</p>

