@{
	ViewData["Title"] = "Моя магистерская диссертация";
}
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>
<script>

</script>

<div class="container">
	<div class="col-md-6">
		<h1 id="hi" class="index-hi">Добро пожаловать!</h1>
		<p style="margin-top:30px">
			Главная страница. На ней коротко написано о целях проекта (сбор данных для диссертации) и о возможностях сайта (материалы для ознакомления, тест на тему, возможность оставить отзыв, информация об авторе).
		</p>
		<div style="border: 1px solid #000;">
			<p style="margin: 5px">
				Также здесь обязательно нужно указать данные, которые в учебных целях будут собраны во время нахождения на данном портале, такие как:
				<ul>
					<li>время пребывания на сайте и отдельных страницах</li>
					<li>общее количество просмотров страниц</li>
					<li>количество нажатых клавиш и их ценность</li>
					<li>фокус внимания (смена страниц в браузере) </li>
					<li>количество сеансов на пользователя</li>
					<li>количество ключевых действий пользователя за сеанс</li>
					<li>частота применения кнопки «назад»</li>
					<li>IP-адрес</li>
					<li>MAC-адрес</li>
					<li>геолокационные данные</li>
					<li>данные об используемой ОС, браузере, параметрах оборудования</li>
					<li>а также то, что пользователь предоставит через опрос и тест</li>
				</ul>
			</p>
		</div>
		<p style="margin: 0 150px 0 0">Непосредственно на этой странице имеет смысл собирать только общие данные, типа фокуса внимания, технических характеристик, местоположения и т.д. Возможно, будет интересно посмотреть процент отказов сразу с главной страницы.</p>
		<p>Также планируется подключить к сайту Яндекс.Метрику и Google Analytics для сбора данных и последующего сравнения с полученными результатми.</p>
	</div>
	<div class="col-md-6">
		<img class="magister-logo-pic" src="~/images/magister-logo.png" />
	</div>
</div>