@{
	ViewData["Title"] = "Куки";
}
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166291616-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-166291616-1');
	</script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(62751832, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/62751832" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
<script type="text/javascript">
	var timerStart = Date.now();
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="~/js/loadScripts.js"></script>

<script type="text/javascript" src="~/js/spyLib/pageLogger.js"></script>
<script type="text/javascript" src="~/js/spyLib/collector.js"></script>
<div id="pageId" style="display:none;">Politics</div>
<script type="text/javascript">
	loadTime(timerStart);
</script>

<script type="text/javascript" src="~/js/spyLib/focus.js"></script>
<h1 id="hi" class="index-hi">Политика конфиденциальности</h1>
<p style="margin-top:30px">
	Данная страница представляет собой соглашение на обработку персональных данных.
	Находясь на этом веб-сайте и взаимодействуя с ним, о вас собираются следующие сведения:
	<ul>
		<li>IP-адрес</li>
		<li>Время нахождения на страницах данного веб-сайта и список этих страниц;</li>
		<li>Взаимодейтствие с элементами веб-сайта;</li>
		<li>Данные о вашем браузере;</li>
	</ul>
</p>
<p>
	Также при вашем согласии на данном сайте вы можете оставить о себе следующую информацию:
	<ul>
		<li>Ваше имя;</li>
		<li>Данные геолокации (запрос данных геолокации браузера);</li>
		<li>Ваш город (можете предоставить через опрос);</li>
		<li>Год вашего рождения;</li>
		<li>Ваше направление в обучении;</li>
		<li>Ступень образования, на которой вы в данные момент находитесь;</li>
		<li>Любую инфомрацию, которую вы отправите через форму обратной связи;</li>
	</ul>
</p>
<p>
	Вся информация собирается исключительно в научных целях для обезличенной статистики для моей магистерской диссертации. 
</p>
<p>В свою очередь, я обязуюсь прекратить сбор данных и удалить всю собранную информацию не позднее 1 августа 2020 года.</p>
<p>Если вы хотите, чтобы данные о вас были удалены из базы немедленно, напишите об этом в форму обратной связи (страница "О вас", пункт "Проблемы, ошибки и предложения").</p>
