@{
	ViewData["Title"] = "Какую тему выбрать вам?";
}

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/loadScripts.js"></script>

<h1 id="hi" class="index-hi" style="margin-top:10%">Какую тему для диссертации выбрать вам?</h1>
<p style="margin-top:30px">
	Здесь будет тест по выбору возможной темы для магистерской диссертации. Планирую реализовать его через пошаговую форму. Поможет в сборе данных о пользователе, а также показателей завершенности, метрик UX-дизайна и т.д. 
</p>